@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, .font-serif {
  font-family: 'Playfair Display', serif;
}

body {
  @apply bg-[#FFF9F9] ;
}
